:root {
  --main-links: #b5ddff;
  --main-theme: #292929;
  --main-bg: #838383;
  --main-bg-button: #4d7286;
  --main-bg-button-hover: #5f889e;
  --main-theme-highlight: #222222;
  --font-family: "Segoe UI", Tahoma, sans-serif;
}

html {
  background-color: var(--main-theme);
  font-family: var(--font-family);
}

html,
body {
  height: 100%;
  color: #ffffff;
}

body {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: transparent;
  border: 1px dotted var(--main-bg);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--main-bg);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--main-theme-highlight);
}

h1 {
  margin: 0;
  font-size: 1.5em;
}

form {
  margin: 0;
}

form, .form-container {
  height: inherit;
}

textarea {
  width: 100%;
  height: 194px;
  font-family: var(--font-family);
  background-color: #b1b1b1;
  resize: none;
  font-size: 1em;
}

textarea.todo-text {
  width: calc(100% - 45px);
  background-color: #b1b1b1;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

textarea:focus,
input:focus {
  outline: none;
}

.form-container {
  position: relative;
}

.submit-button {
  width: 40px;
  background-color: var(--main-bg-button);
  color: #ffffff;
  border: none;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  cursor: pointer;
  font-size: 1.2em;
  height: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
}

.save-button {
  width: 100%;
  background-color: var(--main-bg-button);
  color: white;
  padding: 14px 20px;
  margin: 8px 0px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

input[type="submit"] {
  transition: background-color 0.2s ease-in-out;
}

input[type="submit"]:hover {
  background-color: var(--main-bg-button-hover);
}

main {
  display: flex;
  justify-content: left;
  flex-direction: column;
  align-items: flex-start;
}

.container {
  border-radius: 4px;
  background-color: #494949;
  padding: 20px;
  width: 300px;
}

.container a {
  color: var(--main-links);
}

.todo-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 8px;
}

.todo-card {
  margin: 8px;
  background: #4a4a4a;
  padding: 16px;
  border-radius: 8px;
  width: 240px;
  height: 200px;
  color: #bbbbbb;
  position: relative;
}

.todo-card-value {
  font-weight: 600;
  color: #ffffff;
}

.card-content {
  height: 175px;
  overflow-y: auto;
  overflow-x: hidden;
  word-break: break-word;
  position: relative;
}

.card-control-container {
  position: absolute;
  bottom: 0;
  right: 0;
}


.card-control-container button {
  cursor: pointer;
  background-color: #383838;
  border: none;
  color: #FFFFFF;
  padding: 6px 12px;
  border-radius: 14px;
  margin: 4px;
  opacity: 0.5;
  transition: opacity 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.card-control-container button:hover {
  background-color: #272727;
}

.card-control-container:hover button {
  opacity: 1;
}

.icon {
  color: white;
  text-align: center;
}

.icon:before {
  font-size: 28px;
}

.form-container i {
  position: absolute;
  top: calc(50% - 14px);
  right: 8px;
  z-index: 1;
  pointer-events: none;
}